#about {
    position: relative;
}

.bac {
    background: url("../../img/01.svg") no-repeat;
    min-height: 54vh;
    margin-top: -60px;
    margin-left: -90px;
}


.slect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 140px 0 0 0;

}

.slect h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #F47721;
}

.slect h2 {
    width: 517px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 53px;
    text-align: center;
    color: #231F1E;
}

.ell {
    width: 509px;
    height: 349px;
    background: #F47721;
    border-radius: 0 5px 5px 0;
    opacity: 0.8;
    margin-left: -61px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ell p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
    width: 454px;
}

.block-title {
    width: 320px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0 -1px 10px rgba(35, 31, 30, 0.05), 0 1px 10px rgba(35, 31, 30, 0.05);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px 10px;
}

.d-flex {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 0 0 50px;
}

.frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-top: -300px;
}

.block-title img {
    width: 30px;
}

.block-title p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 105%;
    color: #231F1E;
    margin: 0 0 0 5px;
}

.center {
   position: relative;
}

.center::after{
    position: absolute;
    content: url("../../img/02.svg");
    margin-left: 67%;
}